.page-header {
  padding-top: 36px;
  padding-bottom: 47px;
  background-image: url(../../img/header/header-background.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.page-header__bar {
  margin: 0 auto;
  margin-bottom: 86px;
}

.page-header__page-intro {
  margin: 0 auto;
}
