.page-intro {
  width: 1281px;
  display: flex;
  justify-content: space-between;
}

.page-intro__text-content {
  width: 847px;
}

.page-intro__title {
  margin: 0;
  margin-bottom: 4px;
  text-transform: uppercase;
  @include fontSizeHeightWeight(69.23px, 69.09px, 600);
  color: $white;

  &-small {
    @include fontSizeHeightWeight(43.23px, 65.12px, 700);
    color: $text-violet;
  }
}

.page-intro__description {
  margin: 0;
  margin-bottom: 37px;
  @include fontSizeHeightWeight(23px, 29.85px);
    color: $text-violet;
}

.page-intro__advantages-list {
  margin: 0;
  padding: 25px 30px 28px 30px;
  list-style: none;
  border-radius: 10px;
  background-image: linear-gradient(90deg, rgba(#969AF7, 0.4) 1.34%, rgba(150, 154, 247, 0) 96.66%);
  @include fontSizeHeightWeight(22px, 28.56px, 400);
  color: $white;
}

.page-intro__advantages-item {
  padding-left: 28px;
  position: relative;

  &::before {
    content: "";
    width: 15px;
    height: 12px;
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    background-image: url(../../img/header/check.svg);
    background-repeat: no-repeat;
  }
}
