.page-header-bar {
  width: 1281px;
  display: flex;
  align-items: center;
}

.page-header-bar__logo {
  margin-right: 68px;
}

.page-header-bar__logo-image {
  display: block;
  width: 155px;
  height: 28px;
}

.page-header-bar__nav {
  margin-right: 37px;
}

.page-header-bar__phone {
  display: block;
  margin-left: auto;
  padding-left: 42px;
  position: relative;
  @include fontSizeHeightWeight(18px, 22.1px, 600);
  color: $white;

  &::before {
    content: "";
    width: 33px;
    height: 33px;
    display: block;
    position: absolute;
    top: -5px;
    left: 0;
    background-image: url(../../img/header/header-phone-icon.svg);
    background-repeat: no-repeat;
  }
}

.page-header-bar__phone-small {
  @include fontSizeHeightWeight(18px, 22.1px, 400);
}
